<div class="side-bar columns large-3">
  <div class="divider"></div>
  <div class="recent-articles block clearfix colored-links">
    <h1>Bio</h1>
    {{ 'Untitled-2.jpg' | asset_url | img_tag }}
    
   <font size = "2"><br><br>&nbsp;"Be your own kind of beautiful" is not only Tisun's slogan, but our <strong>mission</strong>. <br><br>&nbsp;We want to provide the products customer experience that aid you in feeling and being your own kind of beautiful. We are thrilled to provide style, health, wellness, and beauty tips.</font></p>
   
    <br>
    <br>
    <hr>
    <br>
    {{ 'Untitled-3.jpg' | asset_url | img_tag }}
    <p></p>
    
    {% if settings.footer-mailing-list-show %}
          {% assign newsletter_title = 'layout.footer.newsletter_title' | t %}
          {% if newsletter_title.size > 0 %}
           
          {% endif %}

          <div class="content" id="mailing-list-module">
          
            {% if newsletter_subtitle.size > 0 %}
              <p>{{ newsletter_subtitle }}</p>
            {% endif %}

            {% if settings.footer-mailing-list-form-action.size > 0 %}
              <form action="{{ settings.footer-mailing-list-form-action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="mailchimp-form validate" target="_blank">
                <input type="email" placeholder="{{ 'layout.footer.newsletter_placeholder' | t }}" name="EMAIL" id="email-input" />
                <input type="submit" class="button prefix" value="{{ 'layout.footer.newsletter_button' | t }}" name="subscribe" id="email-submit" />
              </form>
            {% else %}
              {% form 'customer' %}
              {% if form.posted_successfully? %}
                <p class="success feedback">{{ 'layout.footer.newsletter_success_message' | t }}</p>
              {% endif %}
              {% if form.errors %}
              <p class="error feedback">
              {% for field in form.errors %}
                {{ field }} {{ form.errors.messages[field] }}
              {% endfor %}
              </p>
            {% endif %}       
            <input type="hidden" id="contact_tags" name="contact[tags]" value="newsletter" />
            <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Subscriber" />
            <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Newsletter" />
            <input type="email" placeholder="{{ 'layout.footer.newsletter_placeholder' | t }}" name="contact[email]" />
            <input type="submit" class="button prefix" value="{{ 'layout.footer.newsletter_button' | t }}" name="subscribe" id="email-submit" />

            {% if form.posted_successfully? or form.errors %}
            <script>window.location.hash = '#mailing-list-module';</script>
            {% endif %}
            {% endform %} 
            {% endif %}
          {% endif %}
  </div>
    <br>
    <br>
    <hr>
    <br>
    <h1 style="font-family:raleway">Blog Categories</h1>
   <a href="http://tisunbeauty.com/blogs/under-the-sun/tagged/protective-styling+styling-tips"><img src="{{ 'stylingtips.jpg' | asset_url }}" alt="" /></a>
   
    <br>
  <a href="http://tisunbeauty.com/blogs/under-the-sun/tagged/health-and-wellness"><img src="{{ 'handw.jpg' | asset_url }}" alt="" /></a>
    <br>
  <a href="http://tisunbeauty.com/blogs/under-the-sun"><img src="{{ 'byokob.jpg' | asset_url }}" alt="" /></a>
   
    <br>
    <br>
    <p></p>
    <hr>
    <br>
    
   <br>
  
    <center>
    <a data-pin-do="embedBoard" href="http://www.pinterest.com/tisunbeauty/beauty-tutorials/" data-pin-scale-width="80" data-pin-scale-height="500" data-pin-board-width="400">Follow Tisun Beauty's board Beauty Tutorials on Pinterest.</a>
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <p></p>
    <p></p>
    <br>
<a class="twitter-timeline"  href="https://twitter.com/TisunBeauty"  width:300px; height:600px; data-widget-id="489862283418279937"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br>
    <p></p>
 <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FTisunBeauty&width=219&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=600" scrolling="yes" frameborder="0" style="border:none; margin-bottom: 20px;margin-top: 20px; overflow:hidden; width:340px; height:600px; background: white;  " allowtransparency="true"></iframe>
  <ul id="posts">
  
    
</div>